{% load static %}
<!doctype html>
<html class="no-js layout__4 container__width" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{%static "img/favicon.png"%}">
    <!-- Place favicon.ico in the root directory -->


    <!-- CSS here -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.min.css"%}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/futura-std-4">
    <link rel="stylesheet" href="{% static "css/slick.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css"%}">

</head>


<body>


    <main class="main_wrapper body__overlay overflow__hidden">

        <!-- header__topbar__start -->
        <div class="headertopbar__2 desktop__menu__wrapper">
            <div class="container-fluid">

                <div class="headertopbar__animate__text headertopbar__animate">
                    <div class="header__animate__item">
                        <p class="animate__item__text">
                            Free return shipping
                        </p>
                    </div>
                    <div class="header__animate__item">
                        <p class="animate__item__text">
                            No restocking fee
                        </p>
                    </div>
                    <div class="header__animate__item">
                        <p class="animate__item__text">
                            No final sale items
                        </p>
                    </div>
                    <div class="header__animate__item">
                        <p class="animate__item__text">
                            100% Payment Secure
                        </p>
                    </div>
                    <div class="header__animate__item">
                        <p class="animate__item__text">
                            Online Support
                        </p>
                    </div>
                    <div class="header__animate__item">
                        <p class="animate__item__text">
                            Returns accepted for 30 days
                        </p>
                    </div>
                    <div class="header__animate__item">
                        <p class="animate__item__text">
                            Free return shipping
                        </p>
                    </div>
                    <div class="header__animate__item">
                        <p class="animate__item__text">
                            No restocking fee
                        </p>
                    </div>
                    <div class="header__animate__item">
                        <p>
                            No final sale items
                        </p>
                    </div>
                    <div class="header__animate__item">
                        <p class="animate__item__text">
                            100% Payment Secure
                        </p>
                    </div>
                    <div class="header__animate__item">
                        <p class="animate__item__text">
                            Online Support
                        </p>
                    </div>
                    <div class="header__animate__item">
                        <p class="animate__item__text">
                            Returns accepted for 30 days
                        </p>
                    </div>


                </div>


            </div>
        </div>


        <!-- header__topbar__end -->



        <!-- header section start -->
        <header class="header__layout__4">
            <div class="headerarea header__sticky headerarea__middle">
                <div class="container desktop__menu__wrapper">
                    <div class="row common__row align-items-center">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="header__feature__item">
                                <div class="header__feature__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                        <path
                                            d="M451 374c-15.88-16-54.34-39.35-73-48.76-24.3-12.24-26.3-13.24-45.4.95-12.74 9.47-21.21 17.93-36.12 14.75s-47.31-21.11-75.68-49.39-47.34-61.62-50.53-76.48 5.41-23.23 14.79-36c13.22-18 12.22-21 .92-45.3-8.81-18.9-32.84-57-48.9-72.8C119.9 44 119.9 47 108.83 51.6A160.15 160.15 0 0083 65.37C67 76 58.12 84.83 51.91 98.1s-9 44.38 23.07 102.64 54.57 88.05 101.14 134.49S258.5 406.64 310.85 436c64.76 36.27 89.6 29.2 102.91 23s22.18-15 32.83-31a159.09 159.09 0 0013.8-25.8C465 391.17 468 391.17 451 374z"
                                            fill="none" stroke="currentColor" stroke-miterlimit="10"
                                            stroke-width="32" />
                                    </svg>
                                </div>
                                <div class="header__feature__info">
                                    <h6>Get Support</h6>
                                    <p>044-4217 0885</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-4 col-lg-4 col-md-6 main_menu_wrap">
                            <div class="headerarea__logo">
                                <a href="#"><img src="{% static "img/logo_main.jpg"%} " alt=""></a>
                            </div>


                        </div>


                        <div class="col-xl-4 col-lg-4 col-md-6">

                            <div class="headerarea__right">

                                <ul class="headerarea__right__nav">
                                    <li class="disclosure__button">
                                        <div class="disclosure__button__language cursor__pointer">
                                            In(Rs.)
                                        </div>
                                        <div class="disclosure__button__language__inner">

                                    <li>
                                        <div class="headerarea__search cursor__pointer">

                                            <svg role="presentation" stroke-width="2" focusable="false" width="22"
                                                height="22" class="icon icon-search" viewBox="0 0 22 22">
                                                <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor">
                                                </circle>
                                                <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>


                                        </div>
                                    </li>


                                    <li>
                                        <div class="setting__wrap cursor__pointer">
                                            <div class="setting__wrap__active">

                                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                                    viewBox="0 0 512 512">
                                                    <path
                                                        d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z"
                                                        fill="none" stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="32" />
                                                    <path
                                                        d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z"
                                                        fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                        stroke-width="32" />
                                                </svg>

                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="headermiddle__bar cursor__pointer">
                                            <div class="headermiddle__account">
                                                <div class="headermiddle__account__img">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                                        viewBox="0 0 512 512">
                                                        <circle cx="176" cy="416" r="16" fill="none"
                                                            stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="32" />
                                                        <circle cx="400" cy="416" r="16" fill="none"
                                                            stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="32" />
                                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="32"
                                                            d="M48 80h64l48 272h256" />
                                                        <path
                                                            d="M160 288h249.44a8 8 0 007.85-6.43l28.8-144a8 8 0 00-7.85-9.57H128"
                                                            fill="none" stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="32" />
                                                    </svg>


                                                </div>

                                            </div>
                                        </div>


                                    </li>



                                </ul>

                            </div>

                        </div>

                    </div>


                </div>
            </div>

            <!-- header__bottom__start -->
            <div class="header__bottom header__bottom__4 desktop__menu__wrapper">
                <div class="container">
                    <div class="row common__row position-relative">
                        <div class="col-xl-12 main_menu_wrap">
                            <div class="headerarea__main__menu ">
                                <nav>
                                    <ul>
                                        <li><a href="home.html">Home
                                            </a>
                                        </li>

                                        <li class="position-static">
                                            <a class="headerarea__has__dropdown" href="shop.html">Beauty Products
                                                <span class="header__label">Hot</span>
                                            </a>

                                            <ul class="headerarea__submenu headerarea__megamenu">
                                                <li class="mega__menu__li">
                                                    <a class="menu__title" href="categories.html">Makeup</a>
                                                    <ul>
                                                        <li><a href="#">Face Makeup</a></li>
                                                        <li><a href="#">Eyes</a></li>
                                                        <li><a href="#">Lips</a></li>
                                                        <li><a href="#">Nails</a></li>
                                                        <li><a href="#">Makeup Kits</a></li>
                                                        <li><a href="#">Make Up Remover</a></li>
                                                        <li><a href="#">Makeup Tools</a></li>
                                                    </ul>
                                                </li>


                                                <li class="mega__menu__li">
                                                    <a class="menu__title" href="categories.html">Skin Care</a>
                                                    <ul>
                                                        <li><a href="#">Body Care</a></li>
                                                        <li>
                                                            <a href="#">Face Care
                                                                <span class="header__label hot__color">Hot</span>
                                                            </a>
                                                        </li>
                                                        <li><a href="#">Hand & Feet</a></li>
                                                        <li><a href="#">Eye Care</a></li>
                                                        <li><a href="#">Lip Care</a></li>
                                                        <li><a href="#">Oils</a></li>
                                                        <li><a href="#">Neck Cream</a></li>
                                                    </ul>
                                                </li>


                                                <li class="mega__menu__li">
                                                    <a class="menu__title" href="categories.html">Hair Care</a>
                                                    <ul>

                                                        <li><a href="#">Shampoo</a></li>
                                                        <li><a href="#">Conditioners</a></li>
                                                        <li><a href="#">Hair Oil</a></li>
                                                        <li><a href="#">Hair Seerum</a></li>
                                                        <li>
                                                            <a href="#">Keratin Care
                                                                <span class="header__label">New</span>
                                                            </a>
                                                        </li>
                                                        <li><a href="#">Hair Cream & Masks</a></li>
                                                        <li><a href="#">Hair Styling</a></li>
                                                        <li><a href="#">Hair Fibre</a></li>
                                                        <li><a href="#">Hair Tools</a></li>
                                                        <li><a href="#">Hair Removal</a></li>

                                                    </ul>
                                                </li>



                                                <li class="mega__menu__li">
                                                    <a class="menu__title" href="categories.html">Treatments</a>
                                                    <ul>

                                                        <li><a href="#">Acne Treatments</a></li>
                                                        <li><a href="#">Skin Treatments</a></li>
                                                        <li><a href="#">Hair & Scalp Treatment</a></li>
                                                        <li><a href="#">Scars & Strechmark Treatment</a></li>

                                                    </ul>
                                                </li>
                                                <li class="mega__menu__li">
                                                    <a class="menu__title" href="categories.html">Fragrances</a>
                                                    <ul>

                                                        <li><a href="#">Women Deo/ Roll-ons</a></li>
                                                        <li><a href="#">Cologenes & Perfumes(EDT & EDP)</a></li>
                                                        <li><a href="#">Men Deo/Roll-ons</a></li>
                                                        <li><a href="#">Men Cologens & Perfumes(EDT & EDP)</a></li>

                                                    </ul>
                                                </li>



                                            </ul>

                                        </li>

                                        <li class="position-static">
                                            <a class="headerarea__has__dropdown" href="shop.html">Jewelry
                                                <span class="header__label">New</span>
                                            </a>

                                            <ul class="headerarea__submenu headerarea__megamenu">
                                                <li class="mega__menu__li">
                                                    <a class="menu__title" href="categories.html">Neck Jewelry</a>
                                                    <ul>
                                                        <li><a href="#">Necklaces</a></li>
                                                        <li><a href="#">Lockets</a></li>
                                                        <li><a href="#">Chains</a></li>
                                                        <li><a href="#">Pendant</a></li>

                                                    </ul>
                                                </li>


                                                <li class="mega__menu__li">
                                                    <a class="menu__title" href="categories.html">Ear Jewelry</a>
                                                    <ul>
                                                        <li><a href="#">Studs</a></li>
                                                        <li>
                                                            <a href="#">Jhumkas
                                                                <span class="header__label hot__color">Hot</span>
                                                            </a>
                                                        </li>
                                                        <li><a href="#">Hoops</a></li>
                                                        <li><a href="#">Danglers</a></li>
                                                        <li><a href="#">Ear cuffs</a></li>
                                                        <li><a href="#">Chandlier</a></li>
                                                    </ul>
                                                </li>


                                                <li class="mega__menu__li">
                                                    <a class="menu__title" href="categories.html">Hand & Wrist
                                                        Jewelry</a>
                                                    <ul>

                                                        <li><a href="#">Bracelets</a></li>
                                                        <li><a href="#">Bangles</a></li>
                                                        <li><a href="#">Watches</a></li>
                                                        <li><a href="#">Kadas</a></li>
                                                        <li>
                                                            <a href="#">Rings
                                                                <span class="header__label">Hot</span>
                                                            </a>
                                                        </li>
                                                        <li><a href="#">Hand Harness</a></li>

                                                    </ul>
                                                </li>



                                                <li class="mega__menu__li">
                                                    <a class="menu__title" href="categories.html">Hair Jewelry</a>
                                                    <ul>

                                                        <li><a href="#">Hair pins</a></li>
                                                        <li><a href="#">Hairclips</a></li>
                                                        <li><a href="#">Juda Pins</a></li>
                                                        <li><a href="#">Forehead ornament</a></li>

                                                    </ul>
                                                </li>
                                                <li class="mega__menu__li">
                                                    <a class="menu__title" href="categories.html">Body Jewelry</a>
                                                    <ul>

                                                        <li><a href="#">Nose rings</a></li>
                                                        <li><a href="#">Waist Belts</a></li>
                                                        <li><a href="#">Anklets</a></li>
                                                        <li><a href="#">Toe Rings</a></li>
                                                        <li><a href="#">Navel rings</a></li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        </li>
                                        <li class="position-static">
                                            <a class="headerarea__has__dropdown" href="shop.html">Saloon Products
                                            </a>

                                            <ul class="headerarea__submenu headerarea__megamenu">
                                                <li class="mega__menu__li">

                                                    <ul>
                                                        <li><a href="#">L'Oreal Professionnel</a></li>
                                                        <li><a href="#">Rica</a></li>
                                                        <li><a href="#">kerastase</a></li>
                                                        <li><a href="#">De Fabulous</a></li>
                                                        <li><a href="#">Schwarzkopf Professional</a></li>
                                                        <li><a href="#">Lotus Professional</a></li>
                                                        <li><a href="#">Matrix</a></li>

                                                    </ul>
                                                </li>


                                                <li class="mega__menu__li">

                                                    <ul>
                                                        <li><a href="#">O3+</a></li>
                                                        <li><a href="#">Janssen Cosmetics</a></li>
                                                        <li><a href="#">Moroccanoil</a></li>
                                                        <li><a href="#">Wella Professionals</a></li>
                                                        <li><a href="#">Casmara Professional</a></li>
                                                        <li><a href="#">Cadiveu Professional</a></li>
                                                        <li><a href="#">Olaplex</a></li>
                                                    </ul>
                                                </li>



                                            </ul>
                                        </li>

                                        <li><a href="about.html">About</a> </li>

                                        <li><a href="#">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header__bottom__end -->

            <!-- Mobile View Start-->
            <div class="container-fluid mob_menu_wrapper headerarea header__sticky">
                <div class="row align-items-center">
                    <div class="col-sm-4 col-2">
                        <div class="mobile-off-canvas">
                            <a class="mobile-aside-button" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-menu">
                                    <line x1="3" y1="12" x2="21" y2="12"></line>
                                    <line x1="3" y1="6" x2="21" y2="6"></line>
                                    <line x1="3" y1="18" x2="21" y2="18"></line>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-5">
                        <div class="mobile-logo">
                            <a class="logo__mobile" href="#"><img href="{% static "img/logo_main.jpg"%}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-5">
                        <div class="header-right-wrap">


                            <div class="header__right__inner__wrap d-flex align-items-center justify-content-end">

                                <ul class="headerarea__right headerarea__right__mobail__menu">
                                    <li>
                                        <div class="headerarea__search cursor__pointer">

                                            <svg role="presentation" stroke-width="2" focusable="false" width="22"
                                                height="22" class="icon icon-search" viewBox="0 0 22 22">
                                                <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor">
                                                </circle>
                                                <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>


                                        </div>
                                    </li>

                                    <li>
                                        <div class="setting__wrap cursor__pointer">
                                            <div class="setting__wrap__active">

                                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                                    viewBox="0 0 512 512">
                                                    <path
                                                        d="M344 144c-3.92 52.87-44 96-88 96s-84.15-43.12-88-96c-4-55 35-96 88-96s92 42 88 96z"
                                                        fill="none" stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="32" />
                                                    <path
                                                        d="M256 304c-87 0-175.3 48-191.64 138.6C62.39 453.52 68.57 464 80 464h352c11.44 0 17.62-10.48 15.65-21.4C431.3 352 343 304 256 304z"
                                                        fill="none" stroke="currentColor" stroke-miterlimit="10"
                                                        stroke-width="32" />
                                                </svg>

                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="headermiddle__bar cursor__pointer">
                                            <div class="headermiddle__account">
                                                <div class="headermiddle__account__img">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon"
                                                        viewBox="0 0 512 512">
                                                        <circle cx="176" cy="416" r="16" fill="none"
                                                            stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="32" />
                                                        <circle cx="400" cy="416" r="16" fill="none"
                                                            stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="32" />
                                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="32"
                                                            d="M48 80h64l48 272h256" />
                                                        <path
                                                            d="M160 288h249.44a8 8 0 007.85-6.43l28.8-144a8 8 0 00-7.85-9.57H128"
                                                            fill="none" stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="32" />
                                                    </svg>


                                                </div>

                                            </div>
                                        </div>


                                    </li>

                                </ul>

                            </div>

                        </div>
                    </div>

                </div>
            </div>


            <!-- Mobile Menu Start Here -->
            <div class="mobile-off-canvas-active">
                <a class="mobile-aside-close"><i class="fa fa-close"></i></a>
                <div class="header-mobile-aside-wrap">

                    <div class="mobile__logo">
                        <a href="index.html">
                            <img src="{% static "img/logo_main.jpg" %}" alt="Logo">
                        </a>
                    </div>

                    <div class="mobile-search">
                        <form class="search-form" action="#">
                            <input type="text" placeholder="Search entire store…">
                            <button class="button-search"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap">

                        <div class="mobile-navigation">

                            <nav>
                                <ul class="mobile-menu">
                                    <li><a href="home.html">Home</a></li>

                                    <li class="menu-item-has-children">
                                        <a href="shop.html">Cosmetics </a>
                                        <ul class="dropdown">
                                            <li class="menu-item-has-children">
                                                <a href="categories.html">Makeup</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Face Makeup</a></li>
                                                    <li><a href="#">Eyes</a></li>
                                                    <li><a href="#">Lips</a></li>
                                                    <li><a href="#">Nails</a></li>
                                                    <li><a href="#">Makeup Kits</a></li>
                                                    <li><a href="#">Make Up Remover</a></li>
                                                    <li><a href="#">Makeup Tools</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="categories.html">Skin Care</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Body Care</a></li>
                                                    <li>
                                                        <a href="#">Face Care </a>
                                                    </li>
                                                    <li><a href="#">Hand & Feet</a></li>
                                                    <li><a href="#">Eye Care</a></li>
                                                    <li><a href="#">Lip Care</a></li>
                                                    <li><a href="#">Oils</a></li>
                                                    <li><a href="#">Neck Cream</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="categories.html">Hair Care</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Shampoo</a></li>
                                                    <li><a href="#">Conditioners</a></li>
                                                    <li><a href="#">Hair Oil</a></li>
                                                    <li><a href="#">Hair Seerum</a></li>
                                                    <li>
                                                        <a href="#">Keratin Care </a>
                                                    </li>
                                                    <li><a href="#">Hair Cream & Masks</a></li>
                                                    <li><a href="#">Hair Styling</a></li>
                                                    <li><a href="#">Hair Fibre</a></li>
                                                    <li><a href="#">Hair Tools</a></li>
                                                    <li><a href="#">Hair Removal</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="categories.html">Treatments</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Acne Treatments</a></li>
                                                    <li><a href="#">Skin Treatments</a></li>
                                                    <li><a href="#">Hair & Scalp Treatment</a></li>
                                                    <li><a href="#">Scars & Strechmark Treatment</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="categories.html">Fragrances</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Women Deo/ Roll-ons</a></li>
                                                    <li><a href="#">Cologenes & Perfumes(EDT & EDP)</a></li>
                                                    <li><a href="#">Men Deo/Roll-ons</a></li>
                                                    <li><a href="#">Men Cologens & Perfumes(EDT & EDP)</a></li>
                                                </ul>
                                            </li>


                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="shop.html">Jewelry </a>
                                        <ul class="dropdown">
                                            <li class="menu-item-has-children">
                                                <a href="categories.html">Neck Jewelry</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Necklaces</a></li>
                                                    <li><a href="#">Lockets</a></li>
                                                    <li><a href="#">Chains</a></li>
                                                    <li><a href="#">Pendant</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="categories.html">Ear Jewelry</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Studs</a></li>
                                                    <li>
                                                        <a href="#">Jhumkas</a>
                                                    </li>
                                                    <li><a href="#">Hoops</a></li>
                                                    <li><a href="#">Danglers</a></li>
                                                    <li><a href="#">Ear cuffs</a></li>
                                                    <li><a href="#">Chandlier</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="categories.html">Hand & Wrist Jewelry</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Bracelets</a></li>
                                                    <li><a href="#">Bangles</a></li>
                                                    <li><a href="#">Watches</a></li>
                                                    <li><a href="#">Kadas</a></li>
                                                    <li>
                                                        <a href="#">Rings </a>
                                                    </li>
                                                    <li><a href="#">Hand Harness</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="categories.html">Hair Jewelry</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Hair pins</a></li>
                                                    <li><a href="#">Hairclips</a></li>
                                                    <li><a href="#">Juda Pins</a></li>
                                                    <li><a href="#">Forehead ornament</a></li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="categories.html">Body Jewelry</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Nose rings</a></li>
                                                    <li><a href="#">Waist Belts</a></li>
                                                    <li><a href="#">Anklets</a></li>
                                                    <li><a href="#">Toe Rings</a></li>
                                                    <li><a href="#">Navel rings</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a href="#">Saloon Products</a>
                                        <ul class="dropdown">
                                            <li><a href="#">L'Oreal Professionnel</a></li>
                                            <li><a href="#">Rica</a></li>
                                            <li><a href="#">kerastase</a></li>
                                            <li><a href="#">De Fabulous</a></li>
                                            <li><a href="#">Schwarzkopf Professional</a></li>
                                            <li><a href="#">Lotus Professional</a></li>
                                            <li><a href="#">Matrix</a></li>
                                            <li><a href="#">O3+</a></li>
                                            <li><a href="#">Janssen Cosmetics</a></li>
                                            <li><a href="#">Moroccanoil</a></li>
                                            <li><a href="#">Wella Professionals</a></li>
                                            <li><a href="#">Casmara Professional</a></li>
                                            <li><a href="#">Cadiveu Professional</a></li>
                                            <li><a href="#">Olaplex</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="about.html">About</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>

                        </div>

                    </div>

                    <div class="mobile-curr-lang-wrap">


                        <div class="single-mobile-curr-lang">
                            <a class="mobile-account-active" href="#">My Account <i class="fa fa-angle-down"></i></a>
                            <div class="lang-curr-dropdown account-dropdown-active">
                                <ul>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Creat Account</a></li>
                                    <li><a href="#">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-social-wrap">
                        <a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
                        <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="pinterest" href="#"><i class="fab fa-pinterest"></i></a>
                        <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="google" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end Here -->



            <!-- setting__wrap__list__start -->
            <div class="setting__wrap__list">
                <button class="setting__wrap__close">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                        <title>Close</title>
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="32" d="M368 368L144 144M368 144L144 368"></path>
                    </svg></button>

                <div class="setting__wrap__heading">
                    <h6>
                        <a href="#">Account</a>
                    </h6>
                </div>
                <div class="setting__wrap__list__inner">
                    <ul>
                        <li>
                            <a href="login.html">Login</a>
                        </li>
                        <li>
                            <a href="cart.html">Cart</a>
                        </li>
                        <li>
                            <a href="wishlist.html">Wishlist</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- setting__wrap__list__end -->

            <!-- header__search -->
            <div class="headersearch__active">
                <div class="headersearch__active__icon">
                    <button class="headersearch__active__close">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                            <title>Close</title>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="32" d="M368 368L144 144M368 144L144 368"></path>
                        </svg></button>
                </div>
                <div class="headersearch__active__input">
                    <form action="/search" method="get" role="search" style="position: relative;">
                        <div class="header__form__search">
                            <input type="search" name="q" value="" placeholder="Search our store" class="input-text"
                                autocomplete="off">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- header__search -->
             {% block content %}{% endblock content %}
              <!-- footer__section__start -->
        <div class="footer ">
            <div class="footer__inner sp_top_80">
                <div class="container sp_bottom_60">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                            <div class="footer__widget">
                                <h4 class="footer__title"><strong>About Us.</strong></h4>
                                <div class="footer__content">
                                    <p>Angel's Fashion is your premier destination for beauty and cosmetics, dedicated to helping you express your unique style. We offer a carefully curated selection of high-quality makeup, skincare, and fragrance products from leading international and niche brands.</p>
                                </div>
                                <div class="footer__social__icon">
                                    <ul>
                                        <li><a target="_blank" title="Facebook-f"
                                                href="https://www.facebook.com/shopify"><i
                                                    class="fab fa-facebook-f"></i></a></li>


                                        <li><a target="_blank" title="Twitter" href="https://twitter.com/shopify"><i
                                                    class="fab fa-twitter"></i></a></li>



                                        <li><a target="_blank" title="Youtube"
                                                href="https://www.youtube.com/user/shopify"><i
                                                    class="fab fa-youtube"></i></a></li>


                                        <li><a target="_blank" title="Instagram"
                                                href="https://www.instagram.com/shopify/"><i
                                                    class="fab fa-instagram"></i></a></li>


                                        <li><a target="_blank" title="Tiktok" href="https://www.tiktok.com/@shopify"><i
                                                    class="fab fa-tiktok"></i></a></li>


                                    </ul>
                                </div>

                            </div>
                        </div>


                        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                            <div class="footer__widget">
                                <div class="footer__middle text-center">
                                    <div class="footer__logo">
                                        <img src="{% static "img/logo/logo__4.png" %}" alt="Footer Logo">
                                    </div>
                                    <div class="footer__address">
                                        <ul>
                                            <li>
                                                <div class="footer__address__info">
                                                    <p>No. A-3, 2nd Avenue, Annanagar East(Metro Station) ,Chennai-600102 </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="footer__address__info">
                                                    <p>044-4217 0885</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="footer__address__info">
                                                    <p>angelsfashion.com</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>



                        <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                            <div class="footer__widget">
                                <h4 class="footer__title"><strong>Newsletter</strong></h4>
                                <div class="footer__text">
                                    <p>Subscribe to our weekly Newsletter and receive updates via email.</p>
                                </div>
                                <div class="footer__input footer__input__4">
                                    <input type="text" placeholder="@gmail.com">
                                    <button>Subscribe</button>
                                </div>




                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="copyright__text">
                                <p>© 2025 <strong>Angels Fashion</strong>. All rights reserved.</p>

                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="copyright__menu">
                                <ul>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Refund Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Shipping Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms of Service</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- footer__section__end -->




        <!-- modal__section__start -->
        <div class="grid__quick__view__modal modalarea modal fade" id="exampleModal" tabindex="-1"
            aria-labelledby="exampleModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <div class="row align-items-center">

                            <div class="col-xl-6 col-lg-6 col-md-6">

                                <div class="grid__quick__img">
                                    <img src=" {% static "img/grid/grid__1.png" %} " alt="">
                                </div>


                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                <div class="grid__quick__content">
                                    <h3>W. Men Formal T-shirt</h3>
                                    <div class="quick__price">
                                        <del>$99.00</del> $120.00
                                    </div>
                                    <p>we denounce with righteous indignation and dislike men who are so beguiled and
                                        demoralized by the charms of pleasure of the moment, so blinded by desire, that
                                        they cannot foresee the pain and trouble that are bound to ensuel...</p>


                                    <div class="selector__wrapper">
                                        <select class="single-option-selector select--wd" data-option="option1"
                                            id="product-select-qv-option-0">
                                            <option value="White">White</option>
                                            <option value="Gold">Gold</option>
                                            <option value="l">l</option>
                                            <option value="Grey">Grey</option>
                                            <option value="Maroon">Maroon</option>
                                            <option value="Magenta">Magenta</option>
                                        </select>
                                    </div>


                                    <div class="featurearea__quantity">
                                        <div class="qty-container">
                                            <button class="qty-btn-minus btn-qty" type="button"><i
                                                    class="fa fa-minus"></i></button>
                                            <input type="text" name="qty" value="1" class="input-qty">
                                            <button class="qty-btn-plus btn-qty" type="button"><i
                                                    class="fa fa-plus"></i></button>
                                        </div>
                                        <a class="default__button" href="#">Add to cart</a>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>





    </main>


    <!-- JS here -->
    <script src="{% static "js/vendor/modernizr-3.5.0.min.js" %} "></script>
    <script src="{% static "js/vendor/jquery-3.6.0.min.js"%} "></script>
    <script src="{% static "js/popper.min.js "%} "></script>
    <script src="{% static "js/bootstrap.min.js "%} "></script>
    <script src="{% static "js/isotope.pkgd.min.js "%} "></script>
    <script src="{% static "js/one-page-nav-min.js "%} "></script>
    <script src="{% static "js/slick.min.js "%} "></script>
    <script src="{% static "js/jquery.meanmenu.min.js "%} "></script>
    <script src="{% static "js/ajax-form.js "%} "></script>
    <script src="{% static "js/wow.min.js "%} "></script>
    <script src="{% static "js/jquery.scrollUp.min.js "%} "></script>
    <script src="{% static "js/imagesloaded.pkgd.min.js "%} "></script>
    <script src="{% static "js/jquery.magnific-popup.min.js "%} "></script>
    <script src="{% static "js/waypoints.min.js "%} "></script>
    <script src="{% static "js/jquery.counterup.min.js "%} "></script>
    <script src="{% static "js/fontawesome.min.js "%} "></script>
    <script src="{% static "js/plugins.js "%} "></script>
    <script src="{% static "js/main.js "%} "></script>

</body>

</html>